#namecss{
font-size:30px;
}
#lnamecss
{
	font-size:30px;

}
#citycss
{
	font-size:30px;


}
#addcss{
	font-size:30px;

}
#fevercss
{
	font-size:30px;
	background-color:red;
}
#tirednesscss
{
	font-size:30px;
	background-color:red;
}
#dccss{
	font-size:30px;
	background-color:red;
}
#s1{
	font-size:30px;
}
#s2{
	font-size:30px;
}
#s3{
	font-size:30px;
}
#fname{font-size:30px;}
#lname{font-size:30px;}
#cityn{font-size:30px;}
#addt{font-size:30px;}
