
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  background-color: #B1D4E0;
margin: 0;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*body:after{
  position: absolute;
  content: "";
  background: #ADD8E6;
  width: 100%;
  height: 50%;
  top: 0;
}
body:before{
  position: absolute;
  content: "";
  /*background-color:#FFFFF0; 
  width: 100%;
  height: 50%;
  bottom: 0;
}*/
.container {
			
overflow: auto;
position : absolute;
top: 50px;
float: center;
  z-index: 1;
  width: 80%;
  margin: 10 auto;
    border-radius: 30px;
    padding: 2% 2% 2% 2%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:white;
    color: black;
	border-width:50px;
	border-color:black;
  
   /* background-color:#704270;*/
}
.board {
    column-count: 3;
    column-gap: 2rem;
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
}
/*img#flag {
    height: 20px;
    width: 20px;
}*/
.card {
    height:50%;
    width: 88%;
   /* background: #ccc;*/
    padding: 8%;
    margin-bottom: 20px;
	border-style:solid;
	border-width:2px;
	border-color:black;
   
    /*color: #fff;*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: black;
	  text-align:center;
}
.card.a {
    /*background: #C8A2C8*/
	    border-color: red;
    border-width: 5px;
    border-style: solid;
    background-color: transparent;
	
text-align:center;
}
.card.cr {
	    border-color: yellow;
    border-width: 5px;
    border-style: solid;
  background-color: transparent;
text-align:center;
}
.card.r {
	    border-color: green;
    border-width: 5px;
    border-style: solid;
  background-color: transparent;
text-align:center;
}
.card.ca {
	    border-color: black;
    border-width: 5px;
    border-style: solid;
  background-color: transparent;
text-align:center;
}
.card.d {
	    border-color: black;
    border-width: 5px;
    border-style: solid;
background-color: transparent;
text-align:center;
}
.card.t {
	    border-color: black;
    border-width: 5px;
    border-style: solid;
  background-color: transparent;
text-align:center;
}
h2 {
  outline-width: 8px black;
  
}
.card h5 {
    margin: 0;
    font-size: 1rem;
    color:black;
    font-family: 'Poppins Light 200', sans-serif;
}
.card span {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.card i {
  font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
@media screen and (max-width: 768px){
  .board {
    column-count: 2;
  }
  .card span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px){
  .board {
    column-count: 1;
  }
}
#i1
{ 

	vertical-align:baseline;
}
#i2
{

	vertical-align:baseline;
}
#i3
{
	
	vertical-align:baseline;
}

