
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 50px 50px; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 50px 50px; }
}
@keyframes         bg-scrolling {
  0% { background-position: 50px 50px; }
}

/* Main styles */

  
body{
  background-color: #B1D4E0;
  
  color: #999;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  
  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
 
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.nam{
  text-align: center;
}
.nam h1{
  text-align: center;
  top:5%;
  vertical-align: top;
  font-family: Quicksand Light,Arial, Helvetica, sans-serif;
  font-size:200%;
  color: #151515;
}
.nam h4{
  text-align: center;
  font-family: Quicksand Light,Arial, Helvetica, sans-serif;
  top:5%;
  color: #202020;
  font-style: italic;
}
.container {
			
overflow: auto;
position : absolute;
top: 20%;
left:8%;
font-family: Quicksand ExtraLight,Arial, Helvetica, sans-serif;
float: center;
  z-index: 1;
  width: 50%;
  align-items: center;
  margin: 10 auto;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 2% 2% 2% 2%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:white;
    color: black;
  
   /* background-color:#704270;*/
}
.board {
    column-count: 3;
    columns: gap 0.75em;
    row-gap: .75rem;
}
.container h2 {
    margin: 0 0 16px;
    text-align: center;
}
/*img#flag {
    height: 20px;
    width: 20px;
}*/
.card {
  font-family: Quicksand light,Arial, Helvetica, sans-serif;
    height:3vw;
    width: 10vw;
    vertical-align: middle;
   /* background: #ccc;*/
    padding: 2rem;
   margin-bottom: 0.75rem;
    text-align: center;
    /*color: #fff;*/
}
.card3{
  position:absolute;
	font-family: Quicksand light,Arial, Helvetica, sans-serif;
  top:10%;
  right:8%;
  height:20%;
   background-color:#151515;
   color:white;
    padding: 10px;
}
.card-content{
  margin:auto;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}


.card.a {
  border-color:red;
  color:red;
  border-bottom: 2px;
border-style: solid;
    background-color: transparent;

text-align:center;
}
.card.cr {
      border-color:rgb(221, 221, 0);
      border-bottom: 2px;
      color:rgb(221, 221, 0);
    border-style: solid;
    box-shadow: 2px 2px 10px 25 #151515;
  background-color: transparent;
text-align:center;
}
.card.r {
  border-color:green;
  border-bottom: 2px;
  color:green;
border-style: solid;
  background-color: transparent;
text-align:center;

}
.card.ca {
  border-color:black;
  border-bottom: 2px;
border-style: solid;
  background-color: transparent;
text-align:center;
vertical-align: auto;

}
.card.d {
  border-color:black;
  border-bottom: 2px;
border-style: solid;
background-color: transparent;
text-align:center;

}
.card.t {
  border-color:black;
  border-bottom: 2px;
border-style: solid;
  background-color: transparent;
    text-align:center;
 
}
h2 {
  font-family: Quicksand Light,Arial, Helvetica, sans-serif;
  outline-width: 8px black;
  
}
.card h5 {
    margin: 0;
    vertical-align: middle;
    font-size: 100%;
    color:black;
    font-family: Quicksand Light,Arial, Helvetica, sans-serif;
}
.card span {
  vertical-align: middle;
    font-size: 1rem;
    font-family: Quicksand Light,Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    
}
.card span::after {
  content: "|";
  position: relative;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
.card i {
  font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
a.myButton {
  overflow: auto;
  position : absolute;
  height:5%;
  width: 24%;
  top: 55%;
  right:8%;
  border:2px;
  align-items: center;
  justify-content: center;
	background-color:transparent;
  border-radius:10px ;
  border-style: solid;
	display:inline-block;
	cursor:pointer;
	color:#151515;
	font-family:Verdana;
	font-size:100%;
	padding:1% 1%;
	text-decoration:none;
}
a.myButton:hover {
  background-color:#151515;
  color: #f3f3f3;
}

a.myButton2 {
  border:2px;
  align-items: center;
  justify-content: center;
  height:5%;
  width: 24%;
  overflow: auto;
  position : absolute;
  right:8%;
  top:67%;
	background-color:transparent;
  border-radius:10px ;
  border-style: solid;
	display:inline-block;
	cursor:pointer;
	color:#151515;
	font-family:Verdana;
	font-size:100%;
	padding:1% 1%;
	text-decoration:none;
}
a.myButton2:hover {
  background-color:#151515;
  color: #f3f3f3;
}

.card-link{
	color: #f3f3f3;
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}
@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px){
  .board {
    column-count: 2;
    column-width: auto;
  }
  .card h2{
    font-size:.5rem;
  }
  .card span {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 500px){
  .board {
    column-count: 1;

  }
}

